{% extends "backend/backend_base.html" %}
{% load extras %}
{% block title %}后台管理--基本设置{% endblock %}
{% block css %}{% endblock %}
{% block basic_manage %}active{% endblock %}
{% block content %}
  {% include 'backend/sidebar/basic_settings_bar.html' %}
  <div id="mainbox">
    <h1>基本设置页面</h1>
    <div id="customer_service_settings">
      <h3>客服添加</h3>
      <div id="customer_service_add">
        <form action="" id="customer_service_form" enctype="multipart/form-data" class="form-horizontal">
          {% csrf_token %}
          <input runat='server' type="file" class="hidden" id="id_cs_weixin" name="cs_weixin_img">
          <div class="form-group">
            <label for="id_cs_phone" class="col-sm-3 control-label"><span class="red">* </span>客服电话：</label>
            <div class="col-sm-9">
              <input type="text" class="form-control middle" id="id_cs_phone" name="cs_phone" placeholder="请输入客服电话">
            </div>
          </div>
          <div class="form-group">
            <label for="id_cs_qq" class="col-sm-3 control-label"><span class="red">* </span>客服QQ：</label>
            <div class="col-sm-9">
              <input type="text" class="form-control middle" id="id_cs_qq" name="cs_qq" placeholder="请输入客服QQ">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label">客服微信：</label>
            <div class="col-sm-9">
              <button type="button" class="btn btn-info form-control middle" id="add_weixin_img" name="weixin_img">请上传微信二维码图片</button>
            </div>
          </div>
          <div class="form-group">
            <label for="id_service_time" class="col-sm-3 control-label">服务时间段：</label>
            <div class="col-sm-9">
              <select class="form-control middle" name="service_time" id="service_time">
                <option value="">--请选择--</option>
                {% for choice in obj_group.obj_choice %}
                  <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label">是否激活：</label>
            <div class="col-sm-9">
              <label for="yes" class="normal"><input type="radio" name="is_active" id="r_active_yes" value="1" checked>开启</label>
              <label for="no" class="normal"><input type="radio" name="is_active" id="r_active_no" value="0">关闭</label>
            </div>
          </div>
          <div class="form-group">
            <label for="id_cs_note" class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-9">
              <input type="text" class="form-control middle" id="id_cs_note" name="cs_note" placeholder="请输入备注信息">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
              <button class="btn btn-primary">提交</button>
            </div>
          </div>
        </form>
      </div>
      <div id="customer_service_table">
        <h3>已经添加的客服</h3>
        <span class="red">* 只能开启一个客服哟</span>
        <table class="table table-bordered table-hover tc mt10 customer_service_table">
          <thead>
          <tr>
            <th>客服电话</th>
            <th>客服QQ</th>
            <th>客服微信</th>
            <th>添加时间</th>
            <th>备注</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          {% for data in obj %}
            <tr data-id="{{ data.id }}">
              <td>{{ data.cs_phone }}</td>
              <td>{{ data.cs_qq }}</td>
              <td><a href="javascript:;"><img class="wei-img" src="/media/{{ data.cs_weixin }}" alt="图片未显示出来"></a></td>
              <td>{{ data.cs_join_time }}</td>
              <td>{{ data.cs_note }}</td>
              <td>
                <div class="switch switch-btn dib">
                  <input type="checkbox" class="customer-service-switch" {% if data.is_active %}checked{% endif %}/>
                </div>
                <button class="btn btn-danger ml15 delete-customer-service">删除</button>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block modal %}{% endblock %}
{% block js %}{% endblock %}